In [0]:
import os
import time
import sys
import csv
import pandas as pd
import numpy as np
from IPython.display import display

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

csv.field_size_limit(sys.maxsize)

Mounted at /content/drive

131072

In [0]:
### File configurations
drive_dir = "/content/drive/My Drive/W266_Project/"
data_src = os.path.join(drive_dir,"data")

set1 = os.path.join(data_src, 'bios-tagged-set1.csv')
set2 = os.path.join(data_src, 'bios-tagged-set2.csv')

In [0]:
for file in os.listdir(data_src):
  print(file)

onto.development.ner.sample
onto.development.ner
onto.test.ner.sample
onto.train.ner.sample
onto.test.ner
onto.train.ner
bios-tagged-set1.csv
onto.train.ner_bilou.csv
onto.development.ner_bilou.csv
onto.test.ner_bilou.csv
bios-tagged_bilou.csv
bios-tagged-set2.csv
bios-tagged-final-flat.csv
bios-tagged-final-agg.csv

In [0]:
z = pd.read_csv(set1, sep="\t",  quoting=csv.QUOTE_NONE, header=0, skip_blank_lines=False, engine='python', names =['token', 'company', 'director', 'label'])

In [0]:
z.label.unique()

array(['B-PERSON', 'I-PERSON', 'O', 'B-DATE', 'I-DATE', 'B-TITLE',
       'B-ORG', 'I-TITLE', None, 'I-ORG', 'B-PERCENT', 'I-PERCENT',
       'B-GPE', 'I-GPE', 'B-PRODUCT', 'I-PRODUCT', 'B-CARDINAL',
       'B-MONEY', 'I-MONEY', 'B-LAW', 'I-LAW', 'B-NORP', 'I-NORP'],
      dtype=object)

In [0]:
z.shape

(10935, 4)

In [0]:
z.head(30)

        token         company  director     label
0     Jeffrey  AMAZON.COM INC       1.0  B-PERSON
1          P.  AMAZON.COM INC       1.0  I-PERSON
2       Bezos  AMAZON.COM INC       1.0  I-PERSON
3           ,  AMAZON.COM INC       1.0         O
4         age  AMAZON.COM INC       1.0    B-DATE
5          55  AMAZON.COM INC       1.0    I-DATE
6           ,  AMAZON.COM INC       1.0         O
7         has  AMAZON.COM INC       1.0         O
8        been  AMAZON.COM INC       1.0         O
9    Chairman  AMAZON.COM INC       1.0   B-TITLE
10         of  AMAZON.COM INC       1.0         O
11        the  AMAZON.COM INC       1.0         O
12      Board  AMAZON.COM INC       1.0     B-ORG
13      since  AMAZON.COM INC       1.0         O
14   founding  AMAZON.COM INC       1.0         O
15        the  AMAZON.COM INC       1.0         O
16    Company  AMAZON.COM INC       1.0     B-ORG
17         in  AMAZON.COM INC       1.0         O
18       1994  AMAZON.COM INC       1.0    B-DATE
19        and  AMAZON.COM INC       1.0         O
20      Chief  AMAZON.COM INC       1.0   B-TITLE
21  Executive  AMAZON.COM INC       1.0   I-TITLE
22    Officer  AMAZON.COM INC       1.0   I-TITLE
23      since  AMAZON.COM INC       1.0         O
24        May  AMAZON.COM INC       1.0    B-DATE
25       1996  AMAZON.COM INC       1.0    I-DATE
26          .  AMAZON.COM INC       1.0         O
27        NaN             NaN       NaN      None
28        Mr.  AMAZON.COM INC       1.0         O
29      Bezos  AMAZON.COM INC       1.0  B-PERSON

In [0]:
z2 = pd.read_csv(set2,  header=None, skip_blank_lines=False, names =['token','label'])

In [0]:
z2.shape

(6483, 2)

In [0]:
z2.label.unique()

array(['B-PERSON', 'I-PERSON', 'O', 'B-DATE', 'B-TITLE', 'B-ORG', 'I-ORG',
       nan, 'I-TITLE', 'I-DATE', 'B-GPE', 'B-PRODUCT', 'B-NORP',
       'I-PRODUCT', 'B-LAW', 'I-LAW', 'B-ORDINAL', 'I-GPE', 'B-LOC',
       'I-NORP', 'B-MONEY', 'I-MONEY'], dtype=object)

In [0]:
z2.head(30)

        token     label
0      Hafize  B-PERSON
1        Gaye  I-PERSON
2       Erkan  I-PERSON
3           -         O
4         Ms.         O
5       Erkan  B-PERSON
6           ,         O
7          40    B-DATE
8           ,         O
9          is         O
10        the         O
11  President   B-TITLE
12         of         O
13      First     B-ORG
14   Republic     I-ORG
15       Bank     I-ORG
16          (         O
17         ``         O
18      First     B-ORG
19   Republic     I-ORG
20         ''         O
21          )         O
22          .         O
23        NaN       NaN
24        Ms.         O
25      Erkan  B-PERSON
26       also         O
27     became         O
28          a         O
29     member   B-TITLE

In [0]:
z1 = z.append({'company': np.NaN, 'director': np.NaN, 'label': np.NaN, 'token': np.NaN}, ignore_index=True)
z3 = z1.append(z2)
z3 = z3[['token', 'company', 'director', 'label']]
print(f"Is the row count as expected? - {z3.shape[0] == z.shape[0] + z2.shape[0] + 1}")
z3.to_csv(os.path.join(data_src,'bios-tagged-final-flat.csv'), sep="\t", index=False)
z3.head()

Is the row count as expected? - True

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

     token         company  director     label
0  Jeffrey  AMAZON.COM INC       1.0  B-PERSON
1       P.  AMAZON.COM INC       1.0  I-PERSON
2    Bezos  AMAZON.COM INC       1.0  I-PERSON
3        ,  AMAZON.COM INC       1.0         O
4      age  AMAZON.COM INC       1.0    B-DATE

In [0]:
def checkPrior(blah):
  if (blah.prior is None or blah.prior is np.NaN) and (blah.prior_company is None or blah.prior_company is np.NaN):
    return True
  else:
    return False 
 
def conll_to_sentences(data):
  # see if prior row was a newline
  data['prior'] = data.token.shift(1)
  data['prior_company'] = data.company.shift(1)
  # drop empty rows
  data = data.loc[~data.token.isnull()]
  data.prior = data.apply(checkPrior, axis=1)
  data['phrase'] = data.prior.cumsum()

  display(data.head())
  return data.groupby('phrase').agg({'token': list, 'label': list, 'director': 'min', 'company': 'min'})

In [0]:
zf = conll_to_sentences(z3)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     token         company  director     label  prior   prior_company  phrase
0  Jeffrey  AMAZON.COM INC       1.0  B-PERSON   True             NaN       1
1       P.  AMAZON.COM INC       1.0  I-PERSON  False  AMAZON.COM INC       1
2    Bezos  AMAZON.COM INC       1.0  I-PERSON  False  AMAZON.COM INC       1
3        ,  AMAZON.COM INC       1.0         O  False  AMAZON.COM INC       1
4      age  AMAZON.COM INC       1.0    B-DATE  False  AMAZON.COM INC       1

In [0]:
print(zf.shape)
zf.head()

(708, 4)

                                                    token  ...         company
phrase                                                     ...
1       [Jeffrey, P., Bezos, ,, age, 55, ,, has, been,...  ...  AMAZON.COM INC
2       [Mr., Bezos, served, as, President, from, foun...  ...  AMAZON.COM INC
3       [Mr., Bezos, individual, qualifications, and, ...  ...  AMAZON.COM INC
4       [Rosalind, G., Brewer, ,, age, 56, ,, has, bee...  ...  AMAZON.COM INC
5       [Ms., Brewer, has, been, the, Group, President...  ...  AMAZON.COM INC

[5 rows x 4 columns]

In [0]:
zf.to_csv(os.path.join(data_src,'bios-tagged-final-agg.csv'), sep="\t", index=False)